body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* NAVBAR */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}


.nav-link{
    /* Important is use to make our style superior than bootstrap styling */
    color: #222222 !important;          
}

/* FOOTER */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    
}

.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    height: 8rem;
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}



/* CARD */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}

.card-text p{
    font-weight: 400 !important;
}


/* CARD EFFECT */

.card-img-overplay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* SHOW IMAGE */

.show-img{
    height: 30vh;
    width: 75vh !important;
}


.btns{
    display: flex;
    align-items: center;
   
}